{% extends "base.html" %}

{% block title %} Pub-Sub Logger {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<!-- [ Main Content ] start -->
<div class="pcoded-main-container maincontent">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <div class="page-wrapper">
                        <div class="configuration">Pub-Sub Logger</div>
                        <!-- [ Main Content ] start -->
                        <div class="row d-flex align-items-center">
                            <div class="col-xl-8">
                                <div class="card Services box-content-data pubsubdashboard-firstRow">
                                    <div class="col-xl-12">
                                        <div class="col-xl-4">
                                            <div>
                                                <div>
                                                    <div class="dashboardTitle">
                                                        Published
                                                    </div>
                                                    <div class="dashboardTitle" id="totalPublish">
                                                        0
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-4">
                                            <div>
                                                <div>
                                                    <div class="dashboardTitle">
                                                        Subscribed
                                                    </div>
                                                    <div class="dashboardTitle" id="totalSubscribe">
                                                        0
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-4">
                                            <div>
                                                <div>
                                                    <div class="dashboardTitle">
                                                        OnTopicUpdate
                                                    </div>
                                                    <div class="dashboardTitle" id="totalOnTopicUpdate">
                                                        0
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>

                        <div class="pubsubdashboard-secondRow">
                            <div class="col-xl-6 dashboardTitle">
                                Pub-Sub Calls
                            </div>
                            <div class="col-xl-5 dashboardTitle">
                                Data
                            </div>
                            <div class="col-xl-1">
                                <a>
                                    <div onclick="exportPubReport()"><i class="fa fa-download statusIcon"></i></div>
                                </a>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-xl-12 pubsubdashboard-thirdRow">
                                <div class="col-xl-6">
                                    <div>
                                        <div id="table_pub_sub">

                                        </div>
                                    </div>
                                </div>


                                <div class="col-xl-6" style="width:100%;float:left;">

                                    <div class="box-content-data" style="height:680px">
                                        <div class="para" id="topicSelected"
                                            style="display:none;font-weight: 500;font-size: 18px;line-height: 150%;color: #FFFFFF;margin:20px;    width: 100%;max-width: 80%;overflow: auto;">

                                        </div>

                                        <div style="width:100%;margin:20px">
                                            <div class="para" id="pubsub-cloud-eventId"
                                                style="display: none;width:100%;font-weight: 500;font-size: 16px;margin-bottom:10px;line-height: 150%;color: #F0B323;">

                                            </div>
                                            <div class="para" id="window_heading"
                                                style="width:100%;font-weight: 500;font-size: 16px;line-height: 150%;color: #FFFFFF;color: #FFFFFF;">
                                            </div>
                                            <div id="dash_data">
                                            </div>
                                        </div>

                                        <p id="box-content">Click to See More</p>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                    <!-- [ Main Content ] end -->
                </div>
            </div>
        </div>
    </div>

</div>

<div class='containerloader' hidden id="modalspinner">
    <div class='loader'></div>
    <div class='loader--text'></div>
</div>
<p id="pub_sub_data">{{data}}</p>
<!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}


<script type="text/javascript">
    setSocketInitialized(document.getElementById('pgname').innerText)


    setPubSubDataOnPageLoad(document.getElementById("pub_sub_data").innerText)










</script>
{% endblock javascripts %}