<script src="{{ config.ASSETS_ROOT }}/js/vendor-all.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/js/pcoded.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/js/dark-mode.js"></script>
<script src="{{ config.ASSETS_ROOT }}/js/socket.io.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/js/configuration.js"></script>
<script src="{{ config.ASSETS_ROOT }}/js/sidebar.js"></script>
<script src="{{ config.ASSETS_ROOT }}/js/common.js"></script>
<script src="{{ config.ASSETS_ROOT }}/js/pub-sub-rpc.js"></script>
<script src="{{ config.ASSETS_ROOT }}/js/mockservice.js"></script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/js/all.min.js"></script>

