<script src="{{ config.ASSETS_ROOT }}/js/vendor-all.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/js/pcoded.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/js/dark-mode.js"></script>
<script src="{{ config.ASSETS_ROOT }}/js/socket.io.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/js/configuration.js"></script>
<script src="{{ config.ASSETS_ROOT }}/fonts/fontawesome/js/all.js"></script>
<script src="{{ config.ASSETS_ROOT }}/js/sidebar.js"></script>
<script src="{{ config.ASSETS_ROOT }}/js/common.js"></script>
