.sendrpc-firstRow {
  width: 100%;
  margin-bottom: 20px;
}

.sendrpc-firstRow>div {
  float: left;
  margin: 20px 0px 0px 0px;
}

.sendrpc-secondRow {
  margin: 30px 0px 0px 0px;
}

.sendrpc-secondRow>div:nth-child(1) {
  width: 100%;
}

.sendrpc-secondRow>div:nth-child(1)>div:nth-child(2) {
  margin: 20px 10px 20px -20px;
}

.sendrpc-ulList {
  height: 580px;
  overflow: auto;
}

.sendrpc-ulList li {
  display: flex;
  margin: 10px 0px 10px -40px;
}

.sendrpc-ulList li a label h6 {
  margin-top: 0.5rem !important;
  color: #FFFF;
  font-size: 14px;
}


.sendrpc-secondRow>div:nth-child(2) {
  width: 100%;
}

.sendrpc-boxContent {
  height: 100%;
  padding-left: 20px;
}

.sendrpc-boxContent>p:nth-child(1) {
  left: 20px;
}

.sendrpc-boxContent>p:nth-child(2) {
  display: none;
  margin-top: 350px;
}

.sendrpc-services {
  display: none;
}

.sendrpc-services>label {
  margin: 90px 0px 20px 2px;
  color: #FFF;
  font-size: 24px;
  line-height: 21px;
  text-align: center;
}

.sendrpc-services>div {
  padding: 10px 0px;
}

.sendrpc-services>div label {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
  margin: 2px 0px 0px 15px;
}

.sendrpc-modal-lgss {
  color: #fff;
  display: block;
}

.sendrpc-modal-lgss h4 {
  color: #fff;
  display: none;
  margin: 90px 0px 20px -10px;
}

.sendrpc-uidesignbox {
  width: 100%;
  float: left;
  height: 450px;
  overflow: auto;
  overflow-x: hidden;
  margin-left: -20px;
  padding: 0;
  margin: 0px -20px 0 -26px;
}

.sendrpc-logbox {
  height: 450px !important;
}

.sendrpc-logbox>div:nth-child(1) {
  padding: 1rem;
}

.sendrpc-logbox>div:nth-child(1) button {
  float: right;
  border: none;
  background: none !important;
  color: #8CC7F7;
}

.sendrpc-logbox>div:nth-child(1) h4 {
  color: #fff;
  float: left;
}

.sendrpc-logbox>div:nth-child(2) {
  overflow-y: auto;
  width: 100%;
  overflow-x: hidden;
  margin: 30px 0px 30px 10px;
  height: 370px;
}

.sendrpc-bottomcontent {
  display: none;
  margin: 480px 0px 0px 0px;
}

.sendrpc-bottomcontent>div {
  float: right;
  margin-right: 20px;
}

.sendrpc-bottomcontent>div>button {
  color: white;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  border-radius: 2px;
  margin-left: 10px;
}

sendrpc-bottomcontent>button:nth-child(2) {
  margin-left: 20px;
}

.sendrpc-modal {
  background-color: #151617;
  color: #ffff;
  overflow-y: auto;
  max-height: 85%;
  width: 40%;
  border: 0.865466px solid #3D3935;
  box-shadow: 0px 0px 3px 1px #5EB1F3;
  border-radius: 22.5021px;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.sendrpc-modal>div h4,
button {
  color: #fff;
}

.sendrpc-modalFooter>button {
  vertical-align: top;
  background: #3B3B39;
  border: 1px solid #5EB1F3;
  border-radius: 2px;
  color: #5EB1F3 font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.sendrpc-dialog>h5 {
  padding-left: 20px;
  padding-bottom: 10px;
  color: #fff;
  border-bottom: 1px solid #fff;
}

.sendrpc-modalfooter>button:nth-child(2) {
  color: #3B3B39;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  background: #5EB1F3;
  border-radius: 2px;
  margin-left: 20px;
}

.sendrpc-logbox>div:first-child h4 {
  color: #fff;
  float: left;
}

.sendrpc-executeBtn {
  color: white;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  border-radius: 2px;
  margin-left: 10px;
}

#ok-button {
  background: #038fcf;
  color: white;
}